.container
  =link_to "Latest Raid Status", events_path, :class => "raid_status_btn"
  %h2
    #{@event.created_at.strftime("%B %d")}
  %p
    these members are holding us up from downing da dargons!

  %table
    -@event.messages.each do |message|
      %tr
        %td
          %h3= message.guildy.name
          %span
            = message.message || "awaiting message"