body{background: url('/assets/bg.jpg') top center}

.new_guildy,.container{
  width:715px;
  height: 745px;
  background: url('/assets/form_bg.png');
  margin: 100px auto;
  padding:25px;
  position: relative;
  h2, p{font-family:helvetica, sans-serif; font-weight:normal; }
  h2{font-size:42px; color:#ffffff; line-height: 1.2; text-align: center;margin: 100px 0 0 0;}
  p{font-size:28px; color:#ffffff; line-height: 1.2; text-align: center; margin: 0 0 40px 0;}
  .text{width:100%; border-radius:7px; text-align:center; font-size:32px; padding:10px 0; border:0px; margin:25px 0 0 0;}
  .submit{background: url('/assets/submit.png'); width:605px; height:129px; display: block; position: absolute; border:0px; left:82px; bottom:171px; text-indent:-9999px;}
  .raid_status_btn{background: url('/assets/raid_status.png'); display: block; width: 203px;height:42px; position: absolute; right:0px; top:-60px; text-indent:-9999px;}

  table{
    background: #ffffff; width:100%;
    font-family: "helvetica",sans-serif;
    td{background: #ffffff;margin:0 0 5px 0;padding:5px 10px; border-bottom:1px solid #000000;}
    h3{display:inline-block;font-size: 18px;margin: 0 20px 0 0}
    span{font-size: 12px}
  }
}
